.column-layout {
  width: 100%;
  background-color: transparent!important;
  /* display: flex; */
  padding: 15px;
}
@media (min-width: 900px) {
  .column-layout {
    display: flex;
  }
}
.main-column {
  flex: 1;
 text-align: center;
 margin: auto;
}
.sidebar-one[_ngcontent-c1] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 35px;
  text-align: center;
}
.sidebar-two {
  flex: 1;
  text-align: center;
  margin: auto;
}
.Logo{
  /* width: 110px; */
  background: transparent;
}
.title{
  font-size: 3.0em;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}
.img-button {
  margin-bottom: 5px;
  background-color: rgb(202, 59, 23);
  color: #fff;
  }
