<div class="container">
  <div class="column-layout">
    <div class="sidebar-one">
      <button class="img-button" routerLink="/search" routerLinkActive="active" mat-raised-button type="button" >New Search</button>
      <button class="img-button" routerLink="/weather" routerLinkActive="active" mat-raised-button type="button" >Current Local</button>
    </div>
    <div class="main-column">
      <div class="title">Local Weather App</div>
    </div>
    <div class="sidebar-two">
      <div id="attribution">All data provided by Open Weather Map</div>
      <!-- <a href="https://openweathermap.org/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
        <img src="../assets/img/openweathermap-logo.png" class="Logo" alt="Open Wether Map logo">
      </a> -->
    </div>

  </div>
</div>
