<div class="container">
    <div class="if-searching" *ngIf="searching">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="container">
      <div class="title1">

      </div>
    </div>

    <div class="forecast-inputs">
      <div class="input1">
        <mat-input-container>
          <input type="text" class="search" matInput [(ngModel)]="searchCityQuery" matInput placeholder="Enter City, Country" />
        </mat-input-container>
        <button mat-raised-button class="searchButton" (click)="searchCityImp(searchCityQuery)" type="button">Weather by City</button>
      </div>
    </div>
  </div>
